---
import BaseLayout from '../layouts/base.astro';
---

<BaseLayout title="Home">
    <h1>Welcome to My Portfolio</h1>
    <p>This is my homepage content.</p>
	<a href="/markdown">Check out markdown.</a>
</BaseLayout>