---
import BaseLayout from '../layouts/base.astro';
import BookListing from '../components/booklisting.astro';
import Link from '../components/link.astro'
import headshot from '../assets/headshot.jpg';
---


<BaseLayout title="Home">

    <BookListing 
    title="Hello!"
    image={headshot}
    >My name is Noah Lessard, welcome to my personal website. I'm studying Computer Engineering, as well as Computer Science at UW-Madison. I am interested in cybersecurity, automation, embedded systems and virtual reality. I run the <Link href="https://csec.cs.wisc.edu">Cybersecurity UW club</Link>, as well as a virtual reality studio called <Link href="https://odachivr.art">OdachiVR</Link>. I'm currently interning at <Link href="https://www.oshkoshcorp.com/">Oshkosh Corporation</Link> as a Cybersecurity Developer. When I'm not working with electronics, I like reading sci-fi, growing herbs or vegetables, playing old video games, and cooking noodles.
    </BookListing>

    <h3>Check out these pages to learn more about me and what I'm doing:</h3>

    <ul>
        <li><Link href="/projects">Projects</Link></li>
        <li><Link href="/books">Books</Link></li>
        <li><Link href="/now">Now</Link></li>
    </ul> 

</BaseLayout>