---
import Projectcard from '../components/projectcard.astro';
import BaseLayout from '../layouts/base.astro';
---

<BaseLayout title="Now">
    <h1>Here is what I'm doing now!</h1>
    <p>This is my homepage content.</p>

	<Projectcard 
		title="Me" 
		description="hello"
	/>

</BaseLayout>