<div class="image-row">
    <slot />
  </div>
  
  <style>
    .image-row {
      display: flex;
      gap: 1rem;
      justify-content: center;
      max-width: 600px;
      margin-left: auto; 
      margin-right: auto;
    }
  </style>