<div class="image-row">
  <slot />
</div>

<style>
  .image-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 600px) {

    .image-row {
      max-width: 80%;
    }

    .image-row {
      flex-direction: column;
      align-items: center;
    }

  }

  
</style>