---
import { Image } from 'astro:assets';
import Link from '../components/link.astro';
interface Props {
    title: string;
    image: ImageMetadata;
    description: string;
    link: string;
}
const { title, image, description, link } = Astro.props;
---
<div class="project-listing">
    <Link href={link}>
    <Image 
        src={image}
        alt={title} 
        class="project-cover"
        width={600}
        loading="eager"
    />
    <div class="project-info">
        <h3>{title}</h3>
        <p class="description">
            {description ? description : <slot />}
        </p>
    </div>
    </Link>
</div>
<style>
    
    .project-listing {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        margin: 1rem 0;
        transition: opacity 0.15s ease;
    }

    .project-listing:hover {
    opacity: 0.8;
    }
     
    .project-listing a {
        color: inherit;
        text-decoration: none;
        display: contents;
    }
    
    .project-cover {
        width: 120px;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
        flex-shrink: 0; 
    }
    
    .project-info {
        flex: 1;
    }
    
    .project-info h3 {
        margin: 0 0 0.5rem 0;
        font-size: 1.5rem;
    }
    
    .description {
        margin: 0 0 0.5rem 0;
        font-size: 0.9rem;
    }
    
    .rating {
        margin: 0;
        font-style: italic;
        font-size: 0.85rem;
    }

    @media (max-width: 800px) {
        .project-listing {
            flex-direction: column;
            text-align: center;
        }
        
        .project-cover {
            width: 160px;
        }
    }
</style>