---
// this is the layout that defines the inital layout of each page on the website
const { title } = Astro.props;
import Link from '../components/link.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{title}</title>
</head>
<body>
    <header>
        <nav>
            <Link href="/">Home</Link>
            <Link href="/projects">Projects</Link>
            <Link href="/now">Now</Link>
            <Link href="/books">Books</Link>
        </nav>
    </header>
    <main>
        <slot /> <!-- this is where the content gets inserted -->
    </main>
</body>
</html>

<style is:global>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8fB;
        margin: 0;
        padding: 0;
    }
    
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        padding-top: 1rem;
    }

    nav {
        text-align: center;
        padding: 1rem 0;
    }

    nav::before {
        content: '[ ';
        margin-right: 0.5rem;
    }

    nav::after {
        content: ' ]';
        margin-left: 0.5rem;
    }

    nav a {
        margin: 0 1rem;
    }

    .centered-image {
        display: block;
        margin: 0 auto;
        max-width: 50%;
        height: auto;
    }

    .chk {
        background: #e6e6e6;
        border: 1px solid #c0c0c0;
        border-radius: 4px;
        padding: 0.25em 0.4em;
        color: #1d1d1d;
        font-size: 1.0em;
        display: inline;
    }

</style>